fastapi==0.115.6
uvicorn==0.34.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
lightgbm==4.5.0
joblib==1.4.2
python-dotenv==1.0.1
requests==2.32.3
kagglehub==0.3.8
sentence-transformers==3.4.1
ollama==0.4.7
